body {
    background-color: rgb(213, 231, 234);
    display: inline-block;
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    padding: 10px;
}

h1, h3 {
   color: #66BFBF;
}
