.pic{
    height: 200px;
    width: 200px;
    border: 20px ridge #c681fb;
    border-radius: 50%;
}

.hobby-row {
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}

.hobbies {
    margin: 0px;
}

.contact-text {
    width: 35%;
    margin: 20px auto 30px auto;
}

.contact-me {
    margin: 20px;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: .75rem;
    padding: 10px 0;
}
