body {
    margin: 0;
    text-align: center;
    font-family: 'Texturina', serif;
    background-color: rgb(225, 244, 246);
}

h1 {
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    color: #70a36f;
}

h2 {
    font-size: 2rem;
    font-family: 'Jacques Francois', sans-serif;
    margin: 0, auto, 50px, auto;
    color: #c681fb;
    font-weight: normal;
}

h3 {
    font-family: 'Jacques Francois', sans-serif;
    color: #02a32d;
    font-weight: normal;
}

ul {
    display: inline;
    list-style-type: none;
}

nav {
    background-color: #8ccc8b;
    padding-bottom: 15px;
}

footer {
    padding: 15px 0;
    position: relative;
    background-color: #8ccc8b;
}

hr {
    border: 0;
    border-bottom: 7px dotted #d9e3e3;
    width: 300px;
    margin: 50px auto 50px auto;
}

a {
    color: #02a32d;
    font-family: 'Jacques Francois', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

.pic{
    height: 200px;
    width: 200px;
    border: 20px ridge #c681fb;
    border-radius: 50%;
}

.hobby-row {
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}

.hobbies {
    margin: 0px;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: .75rem;
    padding: 10px 0;
}
