.pic {
    height: 200px;
    width: 200px;
    border: 20px ridge #f56555;
    border-radius: 50%;
}

.left {
    text-align: left;
}

.skills {
    margin: 0px;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: .75rem;
    padding: 10px 0;
}
