body {
    margin: 0;
    text-align: center;
    font-family: 'Texturina', serif;
    background-color: #E1F4F6;
}

h1 {
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    color: #f7a097;
}

table {
    margin: 10px auto;
    vertical-align: middle;
}

h3 {
    font-family: 'Jacques Francois', sans-serif;
    color: #f7a097;
}

ul {
    display: inline;
    list-style-type: none;
}

nav {
    background-color: #f7a097;
    padding-bottom: 15px;
}

td {
    border-bottom: 7px solid #d9e3e3;
    padding: 10px 0px;
}

hr {
    border: 0;
    border-bottom: 7px dotted #d9e3e3;
    width: 300px;
}

footer {
    padding: 15px 0;
    margin-top: 50px;
    background-color: #f7a097;
}

a {
    color: #f56555;
    font-family: 'Jacques Francois', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

.pic {
    height: 200px;
    width: 200px;
    border: 20px ridge #f56555;
    border-radius: 50%;
}

.left {
    text-align: left;
}

.skills {
    margin: 0px;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: .75rem;
    padding: 10px 0;
}
