.skill-text{
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.pic {
    height: 200px;
    width: 200px;
    border: 20px ridge #f56555;
    border-radius: 50%;
}

.left {
    text-align: left;
}

.skills {
    margin: 0px;
}

.contact-text {
    width: 35%;
    margin: 20px auto 30px auto;
}

.contact-me {
    margin: 20px;
}

a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: .75rem;
    padding: 10px 0;
}

.contact {
    border: 0;
}
